* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p{
    width: 50%;
    font-style: italic;
}

.cont1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#texto1{
    text-align: left;
    font-size: x-large;
}

#texto2{
    text-align: right;
    font-size: x-large;
}

#texto3{
    text-align: left;
    font-size: x-large;
}

header {
    width: 100%;
    height: 80px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    font-size: x-large;
    font-family: cursive;
    color: black;
    padding: 8px;
    border: 5px;
    background-color: antiquewhite;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    width: 25%;
    height: 35px;
    padding: 15px;
    overflow: hidden;
}

main {
    width: 100%;
    height: max-content;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
